.hero-section {
    margin-top: 70px;
    height: 100vh;
    background-image: url(../assets/kgp.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: rgb(248, 103, 103, 0.7);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
}

#hero-box h1 {
    margin-bottom: 10px;
}

#hero-box h3 {
    margin: 10px 0;
}

#hero-box p {
    margin-top: 10px;
    line-height: 1.3;
}
hr {
  border: none;
  height: 8px;
  background-color: hsl(9, 62%, 70%);
  margin: 0;
}
