.hero-section {
    margin-top: 70px;
    height: 100vh;
    background-image: url(../assets/kgpmb.png);
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: var(--);
}

.logo1 {
    height: 140px;
    width: 140px;
    filter: var(--logo-filter);
}

#hero-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: var(--hero-box-bg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
}

#hero-box h1 {
    margin-bottom: 10px;
}

#hero-box h3 {
    margin: 10px 0;
}

#hero-box p {
    margin-top: 10px;
    line-height: 1.3;
}
hr {
    border: none;
    height: 2px;
    background-color: #035E7B;
    margin: 0;
}


@media (max-width: 750px) {
    .hero-section {
        padding-top: 4rem;

    }

    #hero-box {
        gap: 0.4rem;
        width: 100%;
    }

    .hero-section p br{
        display: none;
    }
}