.vision-mission {
  background-color: --bg-color;
  padding-top: 0%;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
background-color: --bg-color;
}
.vision-mission h1 {
  font-size: 2.2rem;
  color: var(--primary-blue);
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.vm-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.vm-card {
  flex: 1;
  background: var(--bg-blue);;
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
.vm-card h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;
}
.vm-card p {
  font-size: 1.05rem;
  line-height: 1.8;
}
