.vision-mission {
  background-color: --bg-color;
  padding-top: 0%;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}
.vision-mission h1 {
  font-size: 2.2rem;
  color: var(--vm-title-color);
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.vm-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.vm-card {
  flex: 1;
  background: var(--vm-card-bg);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
.vm-card h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--vm-title-color)
}
.vm-card p {
  font-size: 1.05rem;
  line-height: 1.8;
}

@media (max-width: 750px) {
  .vision-mission {
    padding-right: 20px;
    padding-left: 20px; 
  }
  .vm-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
  }
}
